<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- define links -->
    <link rel="stylesheet" href="/css/login.css">
    <!-- import Bootstrap 5-->
    <link rel="stylesheet" href="/sources/bootstrap.css">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<div class="container">

    <div class="form-container">

        <div class="sign">

            <form action="" class="sign-form">

                <h2 class="title">GirişYap </h2>
                <img src="/assets/images/image/mavi_avatar.png" alt="" width="150px">
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Kullanıcı Adı">
                </div>

                <div class="input-field">

                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Şifre">
                </div>
                <a class="şifre" href="#">Şifremi Unuttum ?</a>
                <input type="submit" class="btn solid" value="Giriş Yap">
                <p class="social-text">Veya Sosyal Medyayla Giriş Yapın</p>

                <div class="social-media">

                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i></a>

                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i></a>

                    <a href="#" class="social-icon">
                        <i class="fab fa-instagram"></i></a>

                    <a href="#" class="social-icon">
                        <i class="far fa-envelope"></i></a>
                </div>


            </form>
        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">

                <h2>Hoşgeldiniz</h2>
                <p>Lütfen Giriş Yapınız... </p>
            </div>
        </div>
    </div>



</div>


<%- include ('../partails/footer') -%>
