<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- define links -->
    <link rel="stylesheet" href="/css/login.css">
    <!-- import Bootstrap 5-->
    <link rel="stylesheet" href="/sources/bootstrap.css">
    <title>ATU</title>
</head>
<body>


<%- include ('../partails/footer') -%>
