<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/sources/bootstrap.css">
    <title>SignUP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">AnaSayfa</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Mağaza</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mağaza Profil</li>
            </ol>
        </nav>
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="img-fluid" src="https://lh3.googleusercontent.com/hukMQ4A0AQpYz52IHl2M5Ppbbmmh71RwXjuIT6699o4ZPhadhwBMDmZSDDG5nX36xeXdL6Ui=w1080-h608-p-no-v0" alt="Admin">
                            <div class="mt-3">
                                <h4>Oto Market</h4>
                                <div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </div>
                                <p class="text-secondary mb-1">Yedek parça ve aksesuar marketi
                                </p>
                                <p class="text-muted font-size-sm">Ataşehir / İstanbul</p>
                                <button class="btn btn-primary">Alışveriş Yap</button>
                                <button class="btn btn-outline-primary">Mesaj Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg><a href="#">Website</a></h6>
                            <span class="text-secondary">https://otomarket.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg><a href="#">Instagram</a></h6>
                            <span class="text-secondary">otomarket</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg><a href="#">Facebook</a></h6>
                            <span class="text-secondary">otomarket</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mağaza Adı</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Oto Market
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">E-mail</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                otomarket@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon Numarası</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                0555-555-55-55
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Açıklama</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Aradığınız tüm aksesuar ürünleri. Oto yedek parça
                                ve aksesuar stoğu ile, Türkiye'nin en iyi oto marketidir.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adres</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ataşehir / İstanbul
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Mağaza Ortalaması</h6>
                                <small>Tamir Puanı</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Ürün Puanı</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Güvenilirlik</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Teslimat Hızı</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"rel="stylesheet" >
            <section class="content-item" id="comments">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <h3 class="pull-left">Yeni Yorum</h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-2 col-lg-1 hidden-xs ">
                                        <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="80px" >
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-10 col-lg-11">
                                        <textarea class="form-control" id="message" placeholder="Mesajınızı Yazın" required=""></textarea>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary pull-right">Gönder</button>
                            </fieldset>
                        </form>
                        <h3>4 Yorum</h3>
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="70"></a>
                            <div class="media-body">
                                <h4 class="media-heading">Mesut Kaya</h4>
                                <p>Zamanında hızlı kargo.Müşteri temsilcileri gayet iyi ve sıcak kanlı.Teşekkürler Oto Market.</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>25/05/2021</li>
                                    <li><i class="fa fa-thumbs-up"></i>54</li>
                                </ul>
                                <ul class="list-unstyled list-inline  pull-right">
                                    <li class="yorum"><a href="#"><i id="like" class="far fa-thumbs-up fa-2x mb-2"></i></a>
                                    <li class="yorum"><a href=""><i class="fas fa-comment fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="70"></a>
                            <div class="media-body">
                                <h4 class="media-heading">Mehmet Şener</h4>
                                <p>Çok hızlı bir gönderi yapıldı. Çok teşekkür ederim. Kısmetse daha sonra tekrar alışveriş yapmayı umut ediyorum.</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>12/03/2021</li>
                                    <li><i class="fa fa-thumbs-up"></i>80</li>
                                </ul>
                                <ul class="list-unstyled list-inline  pull-right">
                                    <li class="yorum"><a href="#"><i id="like" class="far fa-thumbs-up fa-2x mb-2"></i></a>
                                    <li class="yorum"><a href=""><i class="fas fa-comment fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" width="70"></a>
                            <div class="media-body">
                                <h4 class="media-heading">Emine Yalçın</h4>
                                <p>Verdiğim iki sipariş zamanında teslim edildi.Siparişimle ilgili müşteri hizmetleri numarasını telefonla aradığımda her defasında görüştüm ve sorularıma cevap verildi.</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>18/04/2021</li>
                                    <li><i class="fa fa-thumbs-up"></i>73</li>
                                </ul>
                                <ul class="list-unstyled list-inline pull-right">
                                    <li class="yorum"><a href="#"><i id="like" class="far fa-thumbs-up fa-2x mb-2"></i></a>
                                    <li class="yorum"><a href=""><i class="fas fa-comment fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" width="70"></a>
                            <div class="media-body">
                                <h4 class="media-heading">Ali Korkmaz</h4>
                                <p>Geç teslim edilmesinin ürünün sağlanmasından kaynaklandığını öğrendim(Bu durum kısa bir mesaj ile bildirilebilirdi). Güvenli bir Mağaza olarak değerlendiriyorum.</p>
                                <ul class="list-unstyled list-inline media-detail pull-left">
                                    <li><i class="fa fa-calendar"></i>05/05/2021</li>
                                    <li><i class="fa fa-thumbs-up"></i>101</li>
                                </ul>
                                <ul class="list-unstyled list-inline pull-right">
                                    <li class="yorum"><a href="#"><i id="like" class="far fa-thumbs-up fa-2x mb-2"></i></a>
                                    <li class="yorum"><a href=""><i class="fas fa-comment fa-2x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
</div>
</div>
</div>





<script src="/js/signup.js"></script>


<%- include ('../partails/footer') -%>