<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Başlıksız Belge</title>
    <link rel="stylesheet" href="stil.css"/>
</head>
<body>
<div class="footer">
    <div class="sol">
        <div class="magaza">MAĞAZA BUL</div><br>
        <div class="eposta">E-POSTA İÇİN KAYDOL</div><br>
        <div class="uye">ÜYE OL</div><br>
        <div class="bildirim">GERİ BİLDİRİM</div>
    </div>

    <div class="sag">
        <div class="magaza"><span>BİLGİ</span></div><br>
        <div class="eposta">Mağazamı Nasıl Kayıt Edebilirim?</div><br>
        <div class="uye">Yardım</div><br>
        <div class="bildirim">Hakkımızda</div>
    </div>

    <div class="ulasım">
        <div class="magaza"><span>BİZE ULAŞMAK İÇİN</span></div><br>
        <div class="eposta">destek@atu.com</div><br>
    </div>

    <div class="butonbosluk">
        <div class="buton">HİZMET VER</div>
    </div>
    <div class="icon">

        <div class="iconins"></div>
        <div class="iconface"></div>
    </div>

    <div class="border"></div>
    <div class="navkutu">
        <div class="ulke">Türkiye</div>
        <div class="hak">©️ 2021 ATU. Tüm Hakları Saklıdır.</div>
        <div class="rehber">Rehberler</div>
        <div class="sart">Kullanım Şartları</div>
        <div class="sirket">Şirket Ayrıntıları</div>
        <div class="gizlilik">Gizlilik ve Tanımlama Bilgisi Politikası</div>


        <div class="nav"></div></div>


</div>
</body>
</html>