<!-- <body> -->
<div class="tumu">
    <div class="navbar">

        <div class="logo">&nbsp;</div>
        <div class="searchContent">
            <div class="arama">
                <div class="aramaicon"></div>
            </div>
        </div>
        <div class="menu1">
            <ul>
                <li><a href="">İLANLAR</a></li>
                <li><a href="">MAĞAZALAR</a></li>
                <li><a href="">TAMİR</a></li>
            </ul>
        </div>

        <div class="menu2">
            <ul>
                <li><a href="">&nbsp;YARDIM</a></li>
                <li><a href="">ÜYELİK</a></li>
                <div class="giris">GİRİŞ</div>
            </ul>
        </div>
        <div class="iconlar">
            <div class="icon1"></div>
            <div class="icon2"></div>
        </div>
    </div>
</div>
<!-- </body>-->
