<link rel="stylesheet" href="/css/navbar.css">
<div class="tumu">
    <div class="navbar">

        <div class="logo">&nbsp;</div>
        <div class="searchContent">
            <div class="arama">
                <div class="aramaicon"></div>
            </div>
        </div>
        <div class="menu1">
            <ul>
                <li><a href="/posts">İLANLAR</a></li>
                <li><a href="/stores">MAĞAZALAR</a></li>
                <li><a href="/">TAMİR</a></li>
            </ul>
        </div>

        <div class="menu2">
            <ul>
                <li><a href="">&nbsp;YARDIM</a></li>
                <li><a href="/signup">ÜYELİK</a></li>
                <li> <a href="/login" class="btn btn-warning"> Giriş </a> </li>
            </ul>
        </div>

    </div>

</div>
