@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: rgb(128, 31, 31);



}
div.col-lg-2{
    border-right: 1px solid black;
    background-color:#fbfeff;
}
div.col-lg-9{
    border-right: 1px solid black;
    background-color:#93e0ff;
}

h2{
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid;

}

.input-field{
    padding: 20px 0%;
    text-align: left;
}
select{
    width: 90px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border:2px solid rgb(0, 0, 0);
    color: black;
    background: white;
    border-radius: 8px;

}
select:hover{
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
}
label{
    font-size: 20px;
}
img{
    border-top:1px solid black;

    margin: 20px;
    width:90px;
    height:90px;

}
p{
    margin:50px;
    color:black;
    font-size: 20px;

}
div.foto1{
    border-bottom:1px solid black;

}
.fa-heart{
    font-size:20px;

}
.input-fieldd label{
    font-size: 20px;
    margin: 8px;

}
