.tumu{width:100%; height:95px; background:#ffffff; margin-bottom:40px;}
.navbar{width:100%; height:95px; border-bottom: 1px solid #000; }
.logo{width:177px; height:69px; background:url("/assets/images/atu.png"); margin-left:0px; float:left;}

.searchContent {top:30px; margin-right:500px; height: 35px; position:absolute; right: 155px; width: 250px; border: 2px solid #808080; border-radius: 24px; background-color: #f6f6f6;   }
.aramaicon{widht:25px; height: 25px; background: url("/assets/images/icons8-search-25.png");   margin-top:3px; }
.arama{width:25px; height:25px;position: relative; left:210px; float:left; }


.menu1{width: 300px; height:24px; margin-left:480px; padding-right: 5px; padding-top: 0px; position:absolute; float: left}
.menu1 ul{margin: 0; padding: 0; list-style: none}
.menu1 ul li{float: left}
.menu1 ul li a{display: block; width: 95px; height: 35px;  text-decoration: none; font:bold 14px tahoma; color: #000; padding: 7px 10px 0 2px; text-align: center}
.menu1 ul li a:hover{color: #fff; background: #5982ea}


.menu2{width: 300px; height: 24px; margin-left:550px; padding-top: 0px; margin-right:15px; }
.menu2 ul{margin: 0; padding: 0; list-style: none}
.menu2 ul li{float: left}
.menu2 ul li a{display: block; width: 95px; height: 35px; text-decoration: none; font:bold 14px tahoma; color: #000; padding: 7px 3px 0 2px; text-align: center}
.menu2 ul li a:hover{color: #fff; background: #5982ea;}

.iconlar{width:60px; height:25px; float:left; margin-left:-50px;}
.icon1{width:25px; height:25px; background: url("/assets/images/icons8-facebook-25.png"); float:right; margin-top:5px; margin-left: -13px;}
.icon2{width:25px; height:25px; background: url("/assets/images/icons8-instagram-25.png");float:left; margin-top:5px; margin-left: -5px;}

.giris{width:90px; height:35px; border-radius:4px; position: relative; right:-10px ; background:#5982ea; font:bold 14px tahoma; color: #000; float:left; text-align: left; padding-top:8px; padding-left:5px; padding-right:10px;}
.girisicon{widht:25px; height: 25px; background: url("/assets/images/icons8-forward-button-25.png"); margin-top:-20px; margin-left:50px; }
