body {
  font-family: "Lato", sans-serif;
}

h1 {
  margin-bottom: 40px;
}

label {
  color: #333;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.link {
  color: blue;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.delete {
  text-decoration: none;
  color: rgb(50, 50, 224);
}

div.row.resim {
  margin-top: 50px;
}
div.col-md-6 {
  margin-top: 35px;
}
