body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}
.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.fa-star::before{
    color: #ffdf00;
}
.fa-star-half-alt{
    color:#ffdf00
}
body{margin-top:20px;}

.content-item {
    padding:30px 0;
    background-color:#FFFFFF;
}
.content-item.grey {
    background-color:#F0F0F0;
    padding:50px 0;
    height:100%;
}
.content-item h2 {
    font-weight:700;
    font-size:35px;
    line-height:45px;
    text-transform:uppercase;
    margin:20px 0;
}
.content-item h3 {
    font-weight:400;
    font-size:20px;
    color:#555555;
    margin:10px 0 15px;
    padding:0;
}
.content-headline {
    height:1px;
    text-align:center;
    margin:20px 0 70px;
}
.content-headline h2 {
    background-color:#FFFFFF;
    display:inline-block;
    margin:-20px auto 0;
    padding:0 20px;
}
.grey .content-headline h2 {
    background-color:#F0F0F0;
}
.content-headline h3 {
    font-size:14px;
    color:#AAAAAA;
    display:block;
}
#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
}
#comments form {
    margin-bottom:30px;
}
#comments .btn {
    margin-top:7px;
}
#comments form fieldset {
    clear:both;
}
#comments form textarea {
    height:100px;
}
#comments .media {
    border-bottom:1px dashed #DDDDDD;
    padding:80px 0;
    margin:0;
}
#comments .media > .pull-left {
    margin-right:20px;
}
#comments .media img {
    max-width:100px;
}
#comments .media h4 {
    margin:0 0 10px;
}
#comments .media h4 span {
    font-size:14px;
    float:right;
    color:#999999;
}
#comments .media p {
    margin-bottom:15px;
    text-align:justify;
}
#comments .media-detail {
    margin:0;
}
#comments .media-detail li {
    color:#AAAAAA;
    font-size:12px;
    padding-right: 10px;
    font-weight:600;
}
#comments .media-detail a:hover {
    text-decoration:underline;
}
#comments .media-detail li:last-child {
    padding-right:0;
}
#comments .media-detail li i {
    color:#666666;
    font-size:15px;
    margin-right:10px;
}
.media-object{
    width: 80px;
    height: 80px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.img-responsive{
    width: 80px;
    height: 80px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
h6 a{
    text-decoration: none;
    color: black;
    margin-left:15px;
}
