<link rel="stylesheet" href="assets/css/anasayfa.css"/>


<div class="tumu1">
    <div class="tumu1foto"></div>
    <div class="tumu1yazi">PROFESYONEL TAMİRCİ HİZMETİ
        <div class="buton1">İLETİŞİM
            <div class="iletisimicon"></div>

        </div>
    </div>

</div>
<div class="tumu2">
    <div class="kutu1">
        <div class="kutu1yazi"></div>
    </div>
    <div class="kutu2">
        <div class="kutu2yazi"></div>
    </div>
    <div class="kutu3">
        <div class="kutu3yazi"></div>
    </div>

</div>
<div class="tumu3">
    <div class="sol">
        <span class="solyazi1">Uygun Fiyatlarla</span>
        Doğrulanmış Profesyoneller
        <div class="icon1"><span class="icon1yazi">Kaliteli Hizmet Al</span></div>
        <div class="icon2"><span class="icon2yazi"></span>Zaman Kazan</div>
        <div class="icon3"><span class="icon3yazi"></span>Garantide Ol</div>
        <div class="icon4"><span class="icon4yazi"></span>Kolayca Kullan</div>

    </div>
    <div class="sag">
        <div class="sagkutu1"></div>
        <div class="sagkutu2"></div>
        <div class="sagkutu3"></div>
    </div>

</div>
<div class="tumu4">
    <div class="sol4">
        <div class="icons1">
            <div class="icons1yazi">Araç Tamiri
                <div class="icons1icerik">Hergün trafikte arıza yapan yüzlerce aracı hızlı iş akış süreçleriyle trafiğe geri kazandırıyoruz.</div>
            </div>
        </div>
        <div class="icons2">
            <div class="icons2yazi">Hızlı Çözüm
                <div class="icons2icerik">Araç sahibinin ustaya ulaşma ve problemini aktarma konusunda bulabildiği kolaylık operasyonel verimlilik sağlıyor.</div>
            </div>
        </div>
        <div class="icons3">
            <div class="icons3yazi">7/24 Ulaşılabilirlik
                <div class="icons3icerik">7/24 açık olan çözüm merkezleri günün her anında çözüme hazır.</div>
            </div>
        </div>
        <div class="resim4sol"></div>
    </div>
    <div class="sag4">
        <div class="icons4">
            <div class="icons4yazi">Yedek Parça Alımı
                <div class="icons4icerik">Artık yüzlerce dükkan gezip parça sormaya son. Tüm yedek parçalar bir arama çubuğu kadar yakın.</div>
            </div>
        </div>
        <div class="icons5">
            <div class="icons5yazi">Hizmet Satın Alma
                <div class="icons5icerik">Satın aldığınız hizmeti size en iyi şekilde sunmayı amaçlıyoruz.</div>
            </div>
        </div>
        <div class="icons6">
            <div class="icons6yazi">Lokasyon Bazlı Arama
                <div class="icons6icerik">Arıza noktasına en yakın tamirci ve tamirhaneler lokasyon bazlı arama sayesinde kolayca bulunabilmektedir.</div>
            </div>
        </div>
        <div class="resim4sag"></div>
    </div>
</div>
<div class="tumu5">
    <div class="baslik">Neden Bizi Seçmelisiniz ?</div>
    <div class="iconn1">
        <div class="iconn1yazi">20 Yılı Aşkın Tecrübe
            <div class="iconn1icerik">Araç Tamiri</div>
        </div>
        <div class="iconn2">
            <div class="iconn2yazi">Güvenilir
                <div class="iconn2icerik">Araç Tamiri</div>
            </div>
        </div>
        <div class="iconn3">
            <div class="iconn3yazi">Profesyonel Standartlar
                <div class="iconn3icerik">Araç Tamiri</div>
            </div>
            <div class="iconn4">
                <div class="iconn4yazi">7/24 Ulaşılabilirlik
                    <div class="iconn4icerik">Araç Tamiri</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tumu6">
    <div class="yazi6">Gelin ve Profesyonel Ekibimizin Bir Parçası Olun!
        <div class="icon61">&nbsp; &nbsp; &nbsp; Erişiminizi Arttırın</div>
        <div class="icon62">&nbsp; &nbsp; &nbsp;Dijital Dünyada Katma Değer Oluşturun</div>
        <div class="icon63">Daha Fazla Müşteriye Ulaşın</div>
        <div class="button6">Bize Katılın</div>
    </div>
    <div class="resim6"></div>
</div>