<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Başlıksız Belge</title>
    <link rel="stylesheet" href="css/favoriler.css"/>
    <link rel="stylesheet" href="/sources/bootstrap.css">
</head>
<body>
<div class="baslik">FAVORİ ÜRÜNLERİM</div>

<div class="container">
<h1> Favori Mağazalar </h1>
</br>
</div>
<% favourites.forEach(fav => { %>
    <div class="favori1" >
        <div class="favori1resim" style="background: url('<%= fav.product.image.url %>');"></div>
        <div class="favori1ilanadi"><%= fav.product.storeName %></div>
        <div class="favori1fiyat"></div>
        <div class="favori1yildiz"></div>
        <div class="favori1deger">4.1/5</div>
        <div class="favori1ekleme"> <%= fav.product.address %>  </div>
        <div class="favori1sil" style="cursor: pointer;">SİL</div>
        <div class="favori1silicon" style="cursor: pointer;"></div>
        <div class="favori1sepeteekleme btn btn-warning" style="text-decoration: none;">
        <a href="/store/<%= fav.product._id %> "> MAĞAZAYA GİT </a>  
        </div>
    </div>
<% }); %>

<div class="favori1">
    <div class="favori1resim"></div>
    <div class="favori1ilanadi">sdfdsfd</div>
    <div class="favori1fiyat"></div>
    <div class="favori1yildiz"></div>
    <div class="favori1deger">4.1/5</div>
    <div class="favori1ekleme">Eklendi 23.12.2020</div>
    <div class="favori1sil" style="cursor: pointer;">SİL</div>
    <div class="favori1silicon" style="cursor: pointer;"></div>
    <div class="favori1sepeteekleme btn btn-warning" style="text-decoration: none;">
    <a href=""> MAĞAZAYA GİT </a>  
    </div>
</div>

</body>
</html>