<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Başlıksız Belge</title>
    <link rel="stylesheet" href="css/favoriler.css"/>
</head>
<body>
<div class="baslik">FAVORİ ÜRÜNLERİM</div>

<div class="favori1">
    <div class="favori1resim"></div>
    <div class="favori1ilanadi">Skygo Kör Nokta Ayna Seti (2 Adet)</div>
    <div class="favori1fiyat">20 Tl</div>
    <div class="favori1yildiz"></div>
    <div class="favori1deger">4.1/5</div>
    <div class="favori1ekleme">Eklendi 23.12.2020</div>
    <div class="favori1sil">SİL</div>
    <div class="favori1silicon"></div>
    <div class="favori1sepeteekleme">MAĞAZAYA GİT
        <div class="favori1sepeticon"></div>
    </div>
</div>

<div class="favori2">
    <div class="favori2resim"></div>
    <div class="favori2ilanadi">ModaCar Siyah Emniyet Kemeri Yükseltici Adaptör </div>
    <div class="favori2fiyat">44.75 Tl</div>
    <div class="favori2yildiz"></div>
    <div class="favori2deger">3/5</div>
    <div class="favori2ekleme">Eklendi 09.01.2021</div>
    <div class="favori2sil">SİL</div>
    <div class="favori2silicon"></div>
    <div class="favori2sepeteekleme">MAĞAZAYA GİT
        <div class="favori2sepeticon"></div>
    </div>
</div>

<div class="favori3">
    <div class="favori3resim"></div>
    <div class="favori3ilanadi">Unikum Renault Laguna Araç Içi Nikelaj Krom Torpido Ip Trim Fitili 2 Metre</div>
    <div class="favori3fiyat">59 Tl</div>
    <div class="favori3yildiz"></div>
    <div class="favori3deger">4.5/5</div>
    <div class="favori3ekleme">Eklendi 17.01.2021 </div>
    <div class="favori3sil">SİL</div>
    <div class="favori3silicon"></div>
    <div class="favori3sepeteekleme">MAĞAZAYA GİT
        <div class="favori3sepeticon"></div>
    </div>
</div>

<div class="favori4">
    <div class="favori4resim"></div>
    <div class="favori4ilanadi">Milestone Mılestone 175/70 R13 Tl 82t Blaster Yaz Lastiği </div>
    <div class="favori4fiyat">251.90Tl</div>
    <div class="favori4yildiz"></div>
    <div class="favori4deger">5/5</div>
    <div class="favori4ekleme">Eklendi 17.01.2021 </div>
    <div class="favori4sil">SİL</div>
    <div class="favori4silicon"></div>
    <div class="favori4sepeteekleme">MAĞAZAYA GİT
        <div class="favori4sepeticon"></div>
    </div>
</div>

<div class="favori5">
    <div class="favori5resim"></div>
    <div class="favori5ilanadi">DELPHİ Brake& Clutch Cleaner (fren Debriyaj Temizleyici ) Balata Spreyi 500 Ml </div>
    <div class="favori5fiyat">35 Tl</div>
    <div class="favori5yildiz"></div>
    <div class="favori5deger">2.7/5</div>
    <div class="favori5ekleme">Eklendi 02.03.2021 </div>
    <div class="favori5sil">SİL</div>
    <div class="favori5silicon"></div>
    <div class="favori5sepeteekleme">MAĞAZAYA GİT
        <div class="favori5sepeticon"></div>
    </div>
</div>
</body>
</html>