<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/stores.css">
    <link rel="stylesheet" href="/sources/bootstrap.css">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5 ">
            <select class="form-select"name="store" id="store">
                <option value="Bakım">Araç Bakım</option>
                <option value="Motor">Motor Tamir</option>
                <option value="Parça">Araç Parça</option>
                <option value="Modifiye">Araç Modifiye</option>
                <option value="Kaporta">Kaporta Tamir</option>
            </select>

        </div>
        <div class="col-sm-7 d-flex justify-content-end">
            <button class="kare"><i class="fas fa-th-large"></i></button>
            <button class="filter"><i class="fas fa-filter"></i></button>
            <select class="form-select" name="arac" id="arac">
                <option class="secenek" value="Yeni">Yeni Mağazalar</option>
                <option class="secenek" value="yüksek">Yüksek Puanlılar</option>
                <option class="secenek" value="a'z">A'dan Z'ye</option>
                <option class="secenek" value="z'a">Z'den A'ya</option>
                <option class="secenek " value="favori">Favori Mağazam</option>
            </select>

        </div>
        <h1 class="d-flex justify-content-center ">Mağazalar</h1>
    </div>
    <div class="card m-5">
        <div class="row g-2">
            <div class="col-md-4">
                <img class="card-img-top"
                     src="https://lh3.googleusercontent.com/hukMQ4A0AQpYz52IHl2M5Ppbbmmh71RwXjuIT6699o4ZPhadhwBMDmZSDDG5nX36xeXdL6Ui=w1080-h608-p-no-v0"
                     alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="kategori"><h5>Oto Market</h5><div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><p>(24)</p></div>
                    </div>
                    <p class="card-text"><b>Adres:</b> Ataşehir / İstanbul</p>
                    <p class="card-text"><small class="text-muted"><button class="btn ekle"><i class="fas fa-store"></i>Mağazaya
                                Git</button><i class="fas fa-random fa-lg"></i><i class="fas fa-search-plus fa-lg"></i><i
                                    class="far fa-heart fa-lg " title="Favorilere Ekle"></i></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card m-5">
        <div class="row g-2">
            <div class="col-md-4">
                <img class="card-img-top" src="https://storage.otolye.com/141412/b2b/service/images/s432/thumb375.webp?v8"
                     alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="kategori"><h5>Demir Oto</h5><div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><p>(74)</p></div>
                    </div>

                    <p class="card-text"><b>Adres:</b> Esenyurt / İstanbul</p>
                    <p class="card-text"><small class="text-muted"><button class="btn ekle"><i class="fas fa-store"></i>Mağazaya
                                Git</button><i class="fas fa-random fa-lg"></i><i class="fas fa-search-plus fa-lg"></i><i
                                    class="far fa-heart fa-lg" title="Favorilere Ekle"></i></small></p></div>
            </div>
        </div>
    </div>


    <div class="card m-5">
        <div class="row g-2">
            <div class="col-md-4">
                <img class="card-img-top"
                     src="https://www.egemetropolgazetesi.com/images/firmalar/2019/10/ozdemir-oto-tamir-ve-bakim-servisi.jpg"
                     alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="kategori"><h5>Özdemir Oto</h5><div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><p>(176)</p></div>
                    </div>

                    <p class="card-text"><b>Adres:</b> Altındağ / Ankara</p>
                    <p class="card-text"><small class="text-muted"><button class="btn ekle"><i class="fas fa-store"></i>Mağazaya
                                Git</button><i class="fas fa-random fa-lg"></i><i class="fas fa-search-plus fa-lg"></i><i
                                    class="fas fa-heart fa-lg " title="Favorilere Eklendi"></i></small></p></div>
            </div>
        </div>
    </div>


    <div class="card m-5">
        <div class="row g-2">
            <div class="col-md-4">
                <img class="card-img-top" src="https://esenyurtfirmarehberi.com/wp-content/uploads/harputoto.jpg"
                     alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="kategori"><h5>Harput Oto</h5><div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><p>(214)</p></div>
                    </div>

                    <p class="card-text"><b>Adres:</b> Kartal / İstanbul</p>
                    <p class="card-text"><small class="text-muted"><button class="btn ekle"><i class="fas fa-store"></i>Mağazaya
                                Git</button><i class="fas fa-random fa-lg"></i><i class="fas fa-search-plus fa-lg"></i><i
                                    class="far fa-heart fa-lg" title="Favorilere Ekle"></i></small></p></div>
            </div>
        </div>
    </div>

    <div class="card m-5">
        <div class="row g-2">
            <div class="col-md-4">
                <img class="card-img-top"
                     src="https://lh3.googleusercontent.com/proxy/x1NC2qROI9WxCK58HqFrMxqLMT2QCJmXpwSbXt7ZGERSqtB0YjK7u8b2k_uA290Z7nbSpS_QXWWxfrV4GTZ9Fo6LSZVAfwKmPzQotl9wPPm3oGgqIfGKT35aPGg17AQsGVaNrepSUAZYq-30"
                     alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="kategori"><h5>Barış Oto</h5><div class="icon d-flex justify-content-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><p>(164)</p></div>
                    </div>
                    <p class="card-text"><b>Adres:</b> Bornova / İzmir</p>
                    <p class="card-text"><small class="text-muted"><button class="btn ekle"><i class="fas fa-store"></i>Mağazaya
                                Git</button><i class="fas fa-random fa-lg"></i><i class="fas fa-search-plus fa-lg"></i><i
                                    class="far fa-heart fa-lg" title="Favorilere Ekle"></i></small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<%- include ('../partails/footer') -%>